	{% extends "registration/artiste_main.html" %}
	{% block title %}Sign up{% endblock %}
	{% block content %}
			<div id="page">
				<div id="content">
					<div class="message">
						<h3 class="title"><a href="#">Welcome to artiste</a></h3>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p>
								New to artiste. Sign up now and experience the artiste for yourself. Create and share your art. Develop them with collaborations. Publish them to your friends and family and lot more, all for free.
							</p>
							<p>
								More to be updated soon... 
							</p>
						</div>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
					<div style="clear: both;">&nbsp;</div>
			</div>
			<script>
				$( document ).ready(function() {
					highlightNavLink('nav_link_about');
					onPageLoadSuper();
				});
			</script>
    {% endblock %}