{% extends "registration/artiste_main.html" %}
{% block title %}Activation complete{% endblock %}
{% block content %}
			<div id="page">
				<div id="content">
					<div class="message">
						<h3 class="title">Congratulations!</h3>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p>Your registration is now complete. <a href="http://myartiste.com/accounts/login">login</a> and have fun with asrtiste !</p>
						</div>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
					<div style="clear: both;">&nbsp;</div>
			</div>
	{% endblock %}