	{% extends "registration/artiste_main.html" %}
	{% block title %}Registration Successful{% endblock %}
	{% block content %}
			<div id="page">
				<div id="content">
					<div class="message">
						<h3 class="title">Welcome to artiste</h3>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p>
								Registration Successful. Please check your email and use the activation link to activate your account.
								If you did not receive the activate link click resend to resend the activation link. 
							</p>
							<input type="submit" value="Resend" class="button_sbmt"/>
						</div>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
					<div style="clear: both;">&nbsp;</div>
			</div>
    {% endblock %}